@import "~bootstrap-icons/font/bootstrap-icons.css";

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 230px;
    width: 300px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease-in-out;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 280px;
      margin: 8px 0;
      margin-left: 25%;
    }

    .card.highlight-card span {
      margin-left: 72px;
      height: 100px;
      width: 60%;
    }
  }

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

.visibility {
  display: none;
}

@media (min-width: 577px) {
  .smallScreen {
      display:none;
  }
  .bigScreen, .dropdown-toggle::after {
      display:inline-block;
  }
}

@media (max-width:576px) {
  .smallScreen {
      display:inline-block
  }
  .bigScreen, .dropdown-toggle::after {
      display:none;
  }
}

.scroll {
  max-height: 100px;
  overflow-y: auto;
}

.paddingLeft{
  padding-left: 10px;
}

.paddingLeftTwo{
  padding-left: 20px;
}
